@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-DemiBoldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-ExtraBoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue Bold Outline';
    src: url('TTFirsNeue-BoldOutline.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue Bold Outline';
    src: url('TTFirsNeue-BoldOutlineItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue;
    src: url('TTFirsNeueTrl-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-ExtraLightIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-ThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('TTFirsNeueTrl-MediumIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

